{% extends "account/base.html" %}
{% load i18n account widget_tweaks %}

{% block title %}{% trans "Reestablecer contraseña" %} | {{ block.super }}{% endblock %}

{% block panel_title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block panel_body %}
    
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  {% blocktrans %} 
  <p>
    ¿Olvidaste tu contraseña? Ingresá tu dirección de correo electrónico. Te enviaremos un mensaje que te permitirá reestablecer tu contraseña.
  </p>
  {% endblocktrans %}

  <form class="AccountForm" action="{% url 'account_reset_password' %}" method="POST">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    {% include form_errors %}
    
    {% with field=form.email %}
      <div class="form-group form-group--text{% if field.errors %} has-error{% endif %}">
        {% include field_elements %}
        {% render_field field class="form-control" placeholder=field.label %}
      </div>
    {% endwith %}
    
    <div class="form-actions">
      <button class="btn btn-primary btn-lg" type="submit">{% trans 'Reestablecer mi contraseña' %}</button> 
    </div>
  </form>

  {% blocktrans %}
  <p>
    Por favor, contactanos si tenés algún inconveniente reestableciendo tu contraseña.
  </p>
  {% endblocktrans %}
  
{% endblock %}

{% block js_bottom %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
