{% extends "account/base.html" %}
{% load i18n account %}

{% block title %}{% trans "Reestablecer contraseña" %} | {{ block.super }}{% endblock %}

{% block panel_title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block panel_body %}
          
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  
  {% blocktrans %}
  <p>
    Envíamos un mensaje a la dirección de correo electrónico indicada con instrucciones para reestablecer la contraseña. Por favor, contactanos si no recibiste el correo en el transcurso de los próximos minutos.
  </p>
  {% endblocktrans %}

{% endblock %}
