{% extends "account/base.html" %}
{% load i18n account widget_tweaks %}

{% block title %}{% trans "Cambiar contraseña" %} | {{ block.super }}{% endblock %}

{% block panel_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block panel_body %}

  <form class="AccountForm" method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    {% include form_errors %}

    {% for field in form.visible_fields %}
      <div class="form-group form-group--password{% if field.errors %} has-error{% endif %}">
        {% include field_elements %}
        {% render_field field class="form-control" placeholder=field.label %}
      </div>
    {% endfor %}

    <div class="form-actions">
      <button class="btn btn-primary btn-lg" type="submit" name="action">{% trans 'Cambiar tu contraseña' %}</button>
    </div>
  </form>  

{% endblock %}
