{% extends 'search/base.html' %}
{% load i18n widget_tweaks highlight %}

{% block content %}
{% with field_elements="exalumnos/_field-elements.html" field_label="exalumnos/_field-label.html" field_help="exalumnos/_field-help.html" field_errors="exalumnos/_field-errors.html" form_errors="exalumnos/_form-errors.html" %}

<div class="container Page-container">
  <div class="row">
    
    <div class="Page-mainbar col-xs-12 col-sm-9">

      <div class="page-header">
        <h1>{% trans 'Resultados' %} para la búsqueda: <small>{{ search_term }}</small></h1>
      </div>
      
      <form method="get" action=".">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

          {% include form_errors %}

          {% with field=form.q %}
          <div class="form-group form-group--text{% if field.errors %} has-error{% endif %}">
            {% include field_elements %}
            {% render_field field class="form-control" %}
          </div>
          {% endwith %}

          {% for field in form.models %}
          <div class="checkbox{% if field.errors %} has-error{% endif %}">
            {% include field_errors %}
            {% render_field field %}
          </div>
          {% endfor %}

        </form>


          {% if query %}
              <h3>Results</h3>
              {% for result in page.object_list %}
                  <p>
                      <a href="{{ result.object.get_absolute_url }}">
                          {% highlight result.object.nombre with request.GET.q %}
                          {% highlight result.object.apellido with request.GET.q %} 
                          {{ result.object.promocion }}
                      </a>
                  </p>
              {% empty %}
                  <p>No results found.</p>
              {% endfor %}

              {% if page.has_previous or page.has_next %}
                  <div>
                      {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                      |
                      {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                  </div>
              {% endif %}
          {% else %}
              {# Show some example queries to run, maybe query syntax, something else? #}
          {% endif %}
      
    </div><!-- .Page-mainbar -->

  </div><!-- .row -->
</div><!-- .Page-container -->
{% endwith %}
{% endblock %}
